.new-goal {
    margin: 2rem;
    text-align: center;
    
}
.new-goal [type='text'] {
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #3c3b3b;
    margin-right: 20px;
    outline: none;
    
}
.new-goal [type='submit'] {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #3c3b3b;
    background-color: #36175E;
    border: 1px solid #36175E;
    color: #fff;

}
.new-goal [type='submit']:hover {
    background-color: #3f107c;
    border: 1px solid #3f107c;
    transition: 300ms;

}